---
import {sanity} from '../lib/sanity'
import {PROJECT_BY_SLUG} from '../lib/queries'

const {slug} = Astro.params
const project = await sanity.fetch(PROJECT_BY_SLUG, {slug})
---

<html lang="es">
  <body>
    <main>
      <h1>{project.title}</h1>
      <p>{project.summary.es}</p>
    </main>
  </body>
</html>